# Linux
build/

# Windows
*.dll
*.exe
*.filters
*.user
*.vs
.vscode
Debug/
Release/

# Misc
*.zip
*.temp
*.srctrlprj
*.srctrldb
*.srctrlbm

# Vcpkg
vcpkg_installed/

classic-you/

*.cly

ClassicYou/

src/Editor/ObjectTypes/

*.cy
levels/legacy/*.json
levels/legacy2/*.json
levels/*.json
