# Linux
build/

# Windows
*.dll
*.exe
*.filters
*.user
*.vs
.vscode
Debug/
Release/

# Misc
*.zip
*.temp
*.srctrlprj
*.srctrldb
*.srctrlbm

# Vcpkg
vcpkg_installed/

classic-you/



ClassicYou/

# user data
levels/_#old
levels/**/*.json
levels/**/*.cy
levels/**/*.cly
settings.json

backup

#WIP
docs

