# Linux
build/

# Windows
*.dll
*.exe
*.filters
*.user
*.vs
.vscode
Debug/
Release/

# Misc
*.zip
*.temp
*.srctrlprj
*.srctrldb
*.srctrlbm

# Vcpkg
vcpkg_installed/

classic-you/

*.cly


ClassicYou/


*.cy
levels/legacy/*.json
levels/legacy2/*.json
levels/*.json
levels/*.dat
levels/*.dat2
levels/**.cly
levels/*.cly2
levels/*.cly22
levels/old2
backup

#WIP
docs

